main .container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.mainContent{
    width: 75%;
    background-color: cadetblue;
}
.sideContent{
    width: 23%;
    background: rebeccapurple;
}